<h1>Les formulaires</h1>

<section>
  <h2>Template Driven Forms</h2>

  <h3>Sans two way binding : </h3>
  <p>
    <label for="msg">Message</label>
    <input [value]="message" (input)="updateMessage($event)" id="msg" type="text" />
  </p>
  <p>Message = {{message}}</p>

  <h3>Avec le two way binding</h3>
  <p>
    <label for="msg2">Message 2</label>
    <input [(ngModel)]="message2" id="msg2" type="text" />
  </p>
  <p>Message = {{message2}}</p>

  <h3>Formulaire</h3>

  <form (ngSubmit)="submitUser()">
    <p>
      <label for="name">Nom</label>
      <input id="name" [(ngModel)]="user.name" name="name">
    </p>
    <p>
      <label for="email">Email</label>
      <input id="email" type="email" name="email" [(ngModel)]="user.email" />
    </p>
    <p>
      <label for="pwd">Mot de passe</label>
      <input id="pwd" type="password" name="password" [(ngModel)]="user.password" />
      @if (passwordHasError) {
        <small class="error">Mot de passe invalide !</small>
      }
    </p>
    <p>
      <button>S'inscrire</button>
    </p>
  </form>



</section>

<section>
  <h2>Reactive Forms</h2>

  <form (ngSubmit)="saveBook()">
    <p>
      <label for="book">Titre du livre</label>
      <input id="book" [formControl]="book_control" />
    </p>
    @if(book_control.invalid && !book_control.untouched) {
      @if(book_control.hasError('required')) {
        <span class="error">Champs obligatoire !</span>
      } @else if (book_control.hasError('minlength')) {
        <span class="error">Trop court !</span>
      } @else {
        <span class="error">Format invalide !</span>
      }
    }
    <p>
      <button>Save</button>
    </p>
  </form>
</section>

<section>
  <h2>Les Forms Groups</h2>

  <form
    [formGroup]="formation_form"
    (ngSubmit)="saveFormation()"
  >
    <p>
      <label for="title">Titre</label>
      <input id="title" formControlName="title">
      @if (title.hasError('required') && !title.untouched) {
        <small class="error">Veuillez entrer un titre</small>
      }
    </p>
    <p>
      <label for="dur">Durée</label>
      <input type="number" id="dur" formControlName="duration" />
      @if (duration.invalid && !duration.untouched) {
        <small class="error">Entre 1 et 10 jours</small>
      }
    </p>
    <p>
      <button>Save</button>
    </p>
  </form>

</section>
